@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,500;1,600&display=swap");
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.text {
  position: relative;
  z-index: 10;
}

.subhead2 {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
}

.About_us li {
  background: orange;
  text-align: center;
  padding: 2em 1em;
  margin: 0 auto 5em auto;
  border-radius: 1em;
  list-style: none;
}

.About_us li img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin-top: -4.5em;
}

.navbar {
  background: #DDDDDD;
  padding: 1em;
  opacity: 74%;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 2.0em;
  margin-top: 0.1em;
}

.navbar .logo span {
  color: orange;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.navbar nav {
  position: fixed;
  z-index: 999;
  width: 50%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
  display: none;
}

.navbar ul.primary-nav {
  margin: 0;
}

.navbar li.primary-nav {
  width: 100px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
  margin-top: .1em;
}

.navbar li a:hover {
  font-weight: bold;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
  margin-top: -2em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col .primary-cta {
  background: orange;
  color: black;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 3em;
  font-weight: bold;
  display: inline-block;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

@media only screen and (min-width: 758px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    list-style: none;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin-top: 0.8em;
    margin-left: 10em;
  }
  .navbar nav li.current a {
    font-weight: bold;
    list-style: none;
  }
  .navbar nav li.sing-up a {
    color: orange;
    border: 3px solid black;
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
    list-style: none;
  }
  .navbar nav li.sing-up a:hover {
    background: orangered;
    color: white;
  }
  #home-image {
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-right: 10em;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .home-image {
    width: 80%;
    margin-left: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  .About_us ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .About_us ul li {
    margin: 5 5em;
    margin-right: 1em;
  }
}
/*# sourceMappingURL=main.css.map */